.formdoble{display: flex;align-items: center;padding-top: 20px;padding-bottom: 20px;justify-content: space-between;}

.form-control1 {
    width: 40%;
    
}

.contacto__formulario__container{margin-bottom: 20px;}