.index__footer__container {
    display: flex;
    flex-wrap: nowrap;
}

.index__footer__container_info {
    display: flex;
    flex-direction: column;
}

.footer__Info__titulos {
    font-size: 20px;
}

.footer__Info__informacion {
    font-size: 15px;
}

.map {
    width: 900px;
}