.nosotros__fundadoras__MarcoLegal__container {
   justify-content: $Center;
   text-align: $Center;
}

.nosotros__titulo{text-align: $Center;}

.nosotros__titulo__fundadoras{text-align: $Center; }

.nosotros__fundadora__container{text-align: $Center;}

.nosotros__descripcion__container{text-align: center;}