.index__terapias__container{align-items: $Center; text-align: $Center; margin-top: 10px;margin-bottom: 10px;
}
.index__terapiasMedio__container{align-items: $Center; text-align: $Center;flex-direction: row-reverse;
}
.index__terapias__titulo{border-bottom: 2px solid black;}

.terapias__grupal__indv__img__container{align-items: center;
    text-align: center;}
