.index__nuestroServicio_container {
    display: flex;
    align-items: center;
    border-left: 2px solid black;
}

.index__actvidad__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index__actividad_container_img {
    width: 400;
    height: 400;
}

.actividad {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index__actividad__cards__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.index__obraSociales__title__container {
    display: flex;
    justify-content: center;
}

.index__footer__container {
    display: flex;
    flex-wrap: nowrap;
}

.index__footer__container_info {
    display: flex;
    flex-direction: column;
}

.index__icono__container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.index__cetenid__container__texto{padding: 10px;}

.accordion-item {
    background-color: #fff;
    border: transparent;
}

.index__button__preguntas{
    border-bottom: solid black 2px;
}

.border1{border-bottom: 2px solid black;}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #e7f1ff;
  
} 